@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  padding: 0 20px;
}

h1 {
  font-weight: bold;
  margin-bottom: 80px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(124, 58, 237);
  word-spacing: 7px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  word-spacing: 7px;
}

.heading p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.projects p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.name {
  font-family: "Major Mono Display", monospace;
  font-size: 3rem;
}

.job {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #7c3aed;
  word-spacing: 7px;
}

.header {
  background: #fff;
}

.menu {
  font-family: var(--poppins);
  font-size: 1.25rem;
}

.menu-link {
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  text-decoration: underline #7c3aed 1.75px;
  text-underline-offset: 7px;
}

.menu-link:hover{
  text-decoration: none;
}

.heading {
  margin-bottom: 80px;
}

/* Conteneur principal pour l'effet flip */
.flip-container {
  perspective: 1600px;
}

/* Conteneur de l'élément qui sera retourné */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* Face avant de l'élément */
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

/* Face avant */
.front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* Face arrière */
.back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* Au survol, effectuer la rotation */
.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.see-more:hover {
  border: 1px solid white;
}

.submit {
  margin-top: 25px !important;
  margin-bottom: 50px !important;
}

.text-destructive {
  color: yellow;
  font-size: 1rem;
}

/* Styles pour le mode sombre */
.dark .header {
  background-color: #030712;
}

.dark .card:hover {
  background-color: #111827;
}

.dark .certifs li:hover {
  background-color: #4c1d95;
}

.envelope-closed-icon {
  display: none;
}

.h2-hover:hover .envelope-open-icon {
  display: none;
}

.h2-hover:hover .envelope-closed-icon {
  display: inline-block;
}

.bookmark-filled-icon {
  display: none;
}

.h2-hover:hover .bookmark-icon {
  display: none;
}

.h2-hover:hover .bookmark-filled-icon {
  display: inline-block;
}

.lightingbolt-filled-icon {
  display: none;
}

.h2-hover:hover .lightingbolt-icon {
  display: none;
}

.h2-hover:hover .lightingbolt-filled-icon {
  display: inline-block;
}

.mail:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1024px) {
  .menu a {
    padding: 0.25rem 0.5rem;
  }

  h1 {
    margin-bottom: 50px;
  }

  .heading {
    margin-bottom: 50px;
  }

  .contact,
  .contacts {
    width: 75%;
  }

  .mailto-img {
    padding: 0 20px;
  }
}

@media screen and (max-width: 769px) {
  .menu a {
    padding: 0.25rem 0;
  }

  .heading {
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .cards-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 85%;
    margin: 0 auto;
  }

  .card {
    margin-bottom: 20px;
  }

  .contact,
  .contacts {
    width: 75%;
  }

  .mailto-img {
    padding: 0 5px;
  }
}

.card-linkedin .linkedin-icon {
  transition: transform 0.5s;
}

.card-linkedin:hover .linkedin-icon {
  transform: scale(0.9) rotate(360deg);
}


.card-github  {
  position: relative;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
}

.card-github:hover {
  background-color: rgb(56, 56, 56);
}

.card-github:hover .github-icon {
  animation: githubIcon 0.9s both;
}

/* github icon animation keyframes*/
@keyframes githubIcon {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(3deg);
  }
}

.card-github:active {
  transform: scale(0.8);
} 