@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0 20px;
}

.header {
  background: #fff;
}

.logo {
  padding-bottom: 7px;
  max-height: 60px;
  max-width: 100px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: rotate(10deg);
}

h1 {
  font-weight: bold;
  margin-bottom: 80px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(124, 58, 237);
  word-spacing: 7px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  word-spacing: 7px;
}

.heading p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

/* STACK  */

.dark .nextjs {
  filter: invert(100%);
}

.scroller {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 50px;
}

.track {
  display: flex;
  animation: scroll 10s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 3%;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.projects {
  padding: 0 50px;
}

.projects p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.name {
  font-family: "Major Mono Display", monospace;
  font-size: 3rem;
}

.job {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #7c3aed;
  word-spacing: 7px;
}

.oc {
  margin-right: 5px;
}

.certifs li {
  font-size: 1.2rem;
}

.menu-link {
  font-family: var(--poppins);
  font-size: 1rem;
  padding: 0.25rem 0.9rem;
  text-transform: uppercase;
  border: 1.75px solid #7c3aed;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  width: 114px;
  vertical-align: middle;
}

.menu-link:hover {
  color: white;
  font-weight: bold;
  background: #7c3aed;
}

/* ABOUT BTN */
.about-link {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 black;
}

.about-link:hover {
  transform: translateY(-3px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.about-link:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.dark .about-link {
  box-shadow: 0 0 0 0 white;
}

.dark .about-link:hover {
  transform: translateY(-3px) translateX(-2px);
  box-shadow: 2px 5px 0 0 white;
}

.dark .about-link:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 white;
}

/* PROJECTS BTN */

.projects-link:disabled {
  cursor: default;
}

.projects-link:-moz-focusring {
  outline: auto;
}

.projects-link {
  overflow: hidden;
  position: relative;
}

.projects-link span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.projects-link .marquee {
  --spacing: 6em;
  --start: 0em;
  --end: 6em;
  -webkit-animation: marquee 0.825s linear infinite;
  animation: marquee 0.825s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.projects-link:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.projects-link:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

/* CERTIFS BTN */
.certifs-link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.certifs-link:hover {
  background: none;
}

.certifs-link--gooey {
  text-transform: uppercase;
  position: relative;
  transition: all 700ms ease;
  overflow: hidden;
}

.certifs-link--gooey .certifs-link__blobs {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -3px;
  right: -1px;
  z-index: -1;
}

.certifs-link--gooey .certifs-link__blobs div {
  background-color: #7c3aed;
  width: 34%;
  height: 100%;
  border-radius: 100%;
  position: absolute;
  transform: scale(1.4) translateY(125%) translateZ(0);
  transition: all 700ms ease;
}

.certifs-link--gooey .certifs-link__blobs div:nth-child(1) {
  left: -5%;
}

.certifs-link--gooey .certifs-link__blobs div:nth-child(2) {
  left: 30%;
  transition-delay: 60ms;
}

.certifs-link--gooey .certifs-link__blobs div:nth-child(3) {
  left: 66%;
  transition-delay: 25ms;
}

.certifs-link--gooey:hover .certifs-link__blobs div {
  transform: scale(1.5) translateY(0) translateZ(0);
}

/* CONTACT BTN  */
.contact-link {
  --font-size: 1rem;
  --duration: 0.44s;
  --font-shadow: 1rem;
  padding: 0.25rem 1rem;
  display: inline-block;
  vertical-align: middle;
}

.contact-link div {
  display: flex;
  overflow: hidden;
  justify-content: center;
  text-shadow: 0 var(--font-shadow) 0 var(--text);
}

.contact-link div span {
  display: block;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  /* transform: translateY(var(--m)) translateZ(0); */
  transform: translateX(-7px) translateY(var(--m)) translateZ(0);
}

.contact-link div span:nth-child(1) {
  transition-delay: 0.05s;
}

.contact-link div span:nth-child(2) {
  transition-delay: 0.1s;
}

.contact-link div span:nth-child(3) {
  transition-delay: 0.15s;
}

.contact-link div span:nth-child(4) {
  transition-delay: 0.2s;
}

.contact-link div span:nth-child(5) {
  transition-delay: 0.25s;
}

.contact-link div span:nth-child(6) {
  transition-delay: 0.3s;
}
.contact-link div span:nth-child(7) {
  transition-delay: 0.35s;
}

.contact-link:hover {
  color: transparent;
  padding-right: 2px;
  --text: #fff;
}

.contact-link:hover span {
  --m: calc(var(--font-size) * -1);
}
.contact-link.reverse {
  --font-shadow: calc(var(--font-size) * -1);
}
.contact-link.reverse:hover span {
  --m: calc(var(--font-size));
}

/* HERO SECTION  */

.photo-container {
  width: 360px;
  height: 240px;
  margin-left: 10px;
  margin-right: 20px;
  float: left;
}

img {
  border-radius: 10px;
}

.dark .strong {
  color: #6ee7b7;
}

/* style the maincontainer class with all child div's of class .front */
.photo-container > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 0.5s linear 0s;
}

/* style the maincontainer class with all child div's of class .back */
.photo-container > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  width: 360px;
  height: 240px;
  background: #6d28d9;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 0.5s linear 0s;
}

.photo-container:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.photo-container:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.back p {
  font-size: 0.9rem;
}

.exergue {
  color: #6ee7b7;
  font-weight: bold;
  font-size: 1.1rem;
}

.hover-project {
  transition-duration: 0.55s;
}

.see-more:hover {
  border: 1px solid white;
}

.submit {
  margin-top: 25px !important;
  margin-bottom: 50px !important;
}

.text-destructive {
  color: yellow;
  font-size: 1rem;
}

/* Styles pour le mode sombre */
.dark .header {
  background-color: #030712;
}

.dark .card:hover {
  background-color: #111827;
}

.dark .certifs li:hover {
  background-color: #4c1d95;
}

.envelope-closed-icon {
  display: none;
}

.h2-hover:hover .envelope-open-icon {
  display: none;
}

.h2-hover:hover .envelope-closed-icon {
  display: inline-block;
}

.bookmark-filled-icon {
  display: none;
}

.h2-hover:hover .bookmark-icon {
  display: none;
}

.h2-hover:hover .bookmark-filled-icon {
  display: inline-block;
}

.lightingbolt-filled-icon {
  display: none;
}

.h2-hover:hover .lightingbolt-icon {
  display: none;
}

.h2-hover:hover .lightingbolt-filled-icon {
  display: inline-block;
}

.mail:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.card-linkedin .linkedin-icon {
  transition: transform 0.5s;
}

.card-linkedin:hover .linkedin-icon {
  transform: scale(0.9) rotate(360deg);
}

.card-github {
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
}

.card-github:hover {
  background-color: rgb(56, 56, 56);
}

.card-github:hover .github-icon {
  animation: githubIcon 0.9s both;
}

/* github icon animation keyframes*/
@keyframes githubIcon {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(3deg);
  }
}

.card-github:active {
  transform: scale(0.8);
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1024px) {
  .logo {
    width: 32px;
  }

  .header {
    width: 100%;
  }

  .menu > .menu-link + .menu-link {
    margin-left: 35px;
  }

  .heading {
    margin-top: 20px;
  }

  h1 {
    margin-bottom: 50px;
    text-align: center;
  }
  .photo-container {
    margin-right: 0px;
  }

  .photo-container > .back,
  .photo-container > .front {
    width: 330px;
    height: 300px;
  }
  .scroller {
    margin: auto;
    margin-bottom: 50px;
  }
  .projects {
    padding: 0;
  }

  .oc {
    font-size: 2rem;
  }

  .contact {
    width: 75%;
  }

  .contacts {
    width: 75%;
    margin-bottom: 50px;
  }

  /* .mailto-img {
  } */
}

@media screen and (max-width: 769px) {
  .menu-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    width: 90px;
  }

  .menu > .menu-link + .menu-link {
    margin-left: 15px;
  }

  .contact-link:hover div {
    padding-right: 0.25rem;
  }

  .contact-link div span {
    transform: translateX(-1px) translateY(var(--m)) translateZ(0);
  }

  .fr {
    font-size: 0.8rem;
    padding-right: 5px;
  }

  .en {
    font-size: 0.8rem;
    padding-left: 5px;
  }

  .mode-btn {
    transform: scale(0.8);
  }

  .heading {
    margin-top: 10px;
  }

  .name {
    font-size: 2.7rem;
  }

  h1 {
    margin-bottom: 20px;
  }

  .job {
    font-size: 2.1rem;
    word-spacing: 7px;
  }

  .card-juju {
    flex-direction: column;
  }

  .heading p {
    font-size: 1.1rem;
  }

  .right-div-about {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .photo-container {
    width: 440px;
  }

  .photo-juju {
    width: 100%;
  }

  .photo-container > .front {
    width: 420px;
    justify-content: center;
  }

  .photo-container > .back {
    width: 420px;
    height: 280px;
  }

  .photo-container:hover > .back {
    width: 420px;
  }

  .back p {
    font-size: 1rem;
    padding-top: 6px;
  }

  .scroller {
    margin-bottom: 20px;
  }

  .projects {
    margin-bottom: 30px;
  }

  .projects p {
    font-size: 1rem;
  }

  #projects {
    margin-bottom: 20px;
  }

  .certifs {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .oc {
    font-size: 1.5rem;
    /* margin-right: 5px; */
  }

  .cards-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 85% !important;
    margin: 0 auto;
  }

  .certifs li {
    font-size: 1rem;
  }

  .bookmark-icon,
  .bookmark-filled-icon {
    transform: scale(0.9);
  }

  .contact {
    width: 85%;
    margin-bottom: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  form {
    width: 80% !important;
  }

  .submit {
    margin-bottom: 40px !important;
  }

  .contacts {
    width: 85%;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .email-link {
    width: 100%;
  }

  .linkedin-link,
  .github-link {
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }

  .mailto-img {
    width: 69%;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 0px;
  }

  .zone-menu {
    width: 100%;
    padding: 0 10px;
  }

  .menu-link:hover div {
    padding-left: 0.33rem;
  }

  .logo {
    width: 28px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .mode-btn {
    margin-right: 0px;
  }

  .menu-link {
    padding: 0.25rem 0.15rem;
    font-size: 0.75rem;
    width: 78px;
  }

  .menu > .menu-link + .menu-link {
    margin-left: 10px;
  }

  .fr {
    margin-right: 0px;
    font-size: 0.75rem;
    margin: 0;
    padding-right: 2px;
  }

  #language-switcher {
    transform: scale(0.9);
  }

  .en {
    padding-left: 2px;
    font-size: 0.75rem;
  }

  .mode-btn {
    margin-left: 0px;
  }

  .name {
    font-size: 2.5rem;
  }

  .job {
    font-size: 1.7rem;
  }

  .heading p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
  }

  .back p {
    font-size: 1rem;
  }

  #projects {
    font-size: 2.2rem;
  }

  .projects p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .cards-grid {
    width: 90% !important;
    gap: 1rem;
  }

  .contact,
  .contacts {
    width: 90%;
  }

  .mes {
    display: none;
  }
  .bookmark-icon,
  .bookmark-filled-icon {
    transform: scale(0.8);
  }
  .certifs li {
    font-size: 1rem;
  }
}

.getstarted {
  background: #6ee7b7;
}

@media screen and (max-width: 479px) {
  .zone-menu {
    padding: 0 3px;
  }

  .logo {
    margin-left: 2px;
    margin-right: 2px;
    width: 24px;
    min-width: 24px;
  }

  .menu-link {
    padding: 0.15rem 0.05rem;
    font-size: 0.6rem;
    width: 60px;
  }

  .menu > .menu-link + .menu-link {
    margin-left: 3px;
  }

  .mode-btn {
    transform: scale(0.7);
  }

  .heading {
    margin-bottom: 0px;
  }

  .name {
    font-size: 1.7rem;
  }

  .job {
    font-size: 1.1rem;
  }

  .heading p {
    font-size: 1rem;
  }

  .photo-container {
    width: 320px;
  }

  .right-div-about {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
  .photo-juju {
    width: 100%;
  }

  .photo-container > .front {
    width: 300px;
    height: 220px;
    justify-content: center;
  }

  .photo-container > .back {
    width: 300px;
  }

  .photo-container:hover {
    margin-bottom: 70px;
  }

  .photo-container:hover > .back {
    width: 300px;
  }

  .back p {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .exergue {
    font-size: 1rem;
  }

  #projects {
    font-size: 2rem;
  }

  .cards-grid {
    width: 95%;
  }

  #certifications {
    width: 95%;
    padding-bottom: 5px;
  }

  .oc {
    font-size: 1.1rem;
    letter-spacing: -0.1px;
    margin-right: 0px;
  }
  .bookmark-icon,
  .bookmark-filled-icon {
    transform: scale(0.6);
  }

  .certifs li {
    font-size: 0.8rem;
    letter-spacing: -0.1px;
    padding: 0px 5px;
  }

  .checked {
    width: 15px;
  }

  .contact {
    width: 95%;
  }

  #contact {
    font-size: 2rem;
  }

  form {
    width: 97%;
  }

  .contacts {
    width: 95%;
  }
}
